<div>
  <h1>Productos en el carrito de {{user.first_name}}</h1>

  {{#each products}}
    <p>id: {{_id._id}}</p>
    <p>name: {{_id.title}}</p>
    <p>quantity: {{quantity}}</p>
    <p>price: $ {{_id.price}}</p>
    <hr/>

    {{/each}}
  <button id="finishOrder">finish order</button>
    
   
  
</div>
<script>
  
    const finishOrder = document.getElementById("finishOrder");

   
      finishOrder.addEventListener('click', () => {
        fetch(`/api/carts/{{user.cart}}/purchase`, {
          method: 'POST', 
        })
        .then(response => {
          if (response.ok) {
            req.logger.info("TICKET GENERATED");
          } else {
            req.logger.error('Error al finalizar compra.');
          }
        })
        .catch(error => {
          req.logger.error('Error en la solicitud');
        });
      });
</script>
<script src="/socket.io/socket.io.js"></script>
<script src="js/index.js"></script>

   
