<header class="headerLogout">
  <a class="logoutButton" href="/logout"> <button class="button">logout</button></a>
  <a class="cartButton " href="/cart"> <button class="button">cart</button></a>
</header>
<div>
{{#if admin}}
  <h1>Bienvenido, administrador {{user.first_name}} {{user.last_name}}</h1>
{{else}}
  <h1>Bienvenido {{user.first_name}} {{user.last_name}}!</h1>
{{/if}}
 
<hr/>  
  <h2 class="productsTitle">Productos disponibles</h2> 
<div class="buttonHolder">
 <div class="selectionButtons">
    <a href="/products?page=1&limit=10"><button class="button">TODOS</button></a>
    <a href="/products?query=dulce&page=1&limit=10"><button class="button">DULCES</button></a>
    <a href="/products?query=salado&page=1&limit=10"><button class="button">SALADOS</button></a>
  </div>
  </div>

<div class="productContainer">
  <div class="productos">
{{#if admin}}
  {{#each payload}}
  <div class="producto">
    <p class="productTitle">{{title}}</p>
    <img class="productImage" src="{{thumbnail}}" alt="">
    <p class="productStock">Disponibles: {{stock}}</p> 

    <a data-eliminate-product-id="{{id}}"><button class="button">eliminar producto</button></a>
    <p class="productPrice">${{price}}</p>
    <a class="" data-product-id="{{id}}"><button class="button">Add to cart</button></a>
  </div>
    <hr/>
    {{/each}}
{{else}}
    {{#each payload}}

    <div class="producto">
    <p class="productTitle">{{title}}</p>
     <img class="productImage" src="{{thumbnail}}" alt="">
    <p class="productStock">Disponibles: {{stock}}</p> 
    <p class="productPrice">${{price}}</p>
    <a class="" data-product-id="{{id}}"><button class="button">Add to cart</button></a>
    </div>

    {{/each}}
  <div class="siguienteAnterior">
    {{#if hasPrevPage}}
    <a href="/products?{{prevLink}}"><button>Anterior</button></a>
    {{/if}}
     {{#if hasNextPage}}
    <a href="/products?{{nextLink}}"><button>Siguiente</button></a>
    {{/if}}
  </div>
{{/if}}
</div>
</div>
</div>

<script>
  
    const addToCartButtons = document.querySelectorAll('[data-product-id]');

    addToCartButtons.forEach(button => {
      button.addEventListener('click', () => {
      const productId = button.getAttribute('data-product-id');
      

        fetch(`/api/carts/{{user.cart}}/product/${productId}`, {
          method: 'POST', 
        })
        .then(response => {
          if (response.ok) {
            req.logger.info('Producto agregado al carrito correctamente.');
          } else {
            req.logger.error('Error al agregar el producto al carrito.');
          }
        })
        .catch(error => {
          req.logger.error('Error en la solicitud');
        });
      });
    });

  const deleteButtons = document.querySelectorAll('[data-eliminate-product-id]');

    deleteButtons.forEach(button => {
      button.addEventListener('click', () => {
      const eliminateProductId = button.getAttribute('data-eliminate-product-id');
      

        fetch(`/api/products/${eliminateProductId}`, {
          method: 'DELETE', 
        })
        .then(response => {
          if (response.ok) {
            req.logger.info('Producto eliminado correctamente.');
          } else {
            req.logger.error('Error al eliminar el producto.');
          }
        })
        .catch(error => {
          req.logger.error('Error en la solicitud');
        });
      });
    });


  </script>
<script src="/socket.io/socket.io.js"></script>
<script src="js/index.js"></script>
